<div class="calendar-container">
    <div class="calendar-help">Выберите месяц и год</div>
    <div class="calendar">
        <div class="title">
            <a href="" class="calendar-year-prev"></a>
            <a href="" class="calendar-year-next"></a>
            <span class="calendar-year" data-min="{{ years.min }}" data-max="{{ years.max }}">{{ year }}</span>
        </div>
        <div class="months" data-current="{{ month }}">
            <div class="month month1" data-value="1">Янв</div>
            <div class="month month2" data-value="2">Фев</div>
            <div class="month month3" data-value="3">Мар</div>
            <div class="month month4" data-value="4">Апр</div>
            <div class="month month5" data-value="5">Май</div>
            <div class="month month6" data-value="6">Июн</div>
            <div class="month month7" data-value="7">Июл</div>
            <div class="month month8" data-value="8">Авг</div>
            <div class="month month9" data-value="9">Сент</div>
            <div class="month month10" data-value="10">Окт</div>
            <div class="month month11" data-value="11">Ноя</div>
            <div class="month month12" data-value="12">Дек</div>
        </div>
    </div>
</div>
