<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Конкурс Toyota Автомобиль мечты - Приглашение</title>
    <link type="text/css" rel="stylesheet" href="/bundles/public/css/normalize.css" media="screen">
    <link type="text/css" rel="stylesheet" href="/bundles/public/css/invite.css?{{ asset }}" media="screen">
</head>
<body>
    <div class="container">
        <div class="logo"><img src="/bundles/public/img/invite/logo_toyota.png"></div>
        <div class="content">
            <h1>ПРИГЛАШЕНИЕ</h1>
            <h2>ЦЕРЕМОНИЯ НАГРАЖДЕНИЯ ФИНАЛИСТОВ НАЦИОНАЛЬНОГО ЭТАПА
                КОНКУРСА ДЕТСКОГО РИСУНКА TOYOTA «АВТОМОБИЛЬ МЕЧТЫ»</h2>
            <div class="line solid"></div>
            <h2>12 МАРТА 2016 ГОДА</h2>
            <div class="header"><img src="/bundles/public/img/invite/header.jpg"></div>
            <div class="text">
                <p><strong>Дорогие друзья!</strong></p>

                <p>Поздравляем вас с победой в национальном этапе конкурса Toyota «Автомобиль мечты»
                    и приглашаем всей семьёй на церемонию награждения победителей.<br>
                    Церемония награждения состоится в субботу, 12 марта, в офисе ООО «Тойота Мотор»
                    по адресу: Московская область, Мытищинский район, 84-й км МКАД,
                    ТПЗ «Алтуфьево», вл. 5, стр.1.</p>

                <p>Время проведения церемонии с 12:00 до 16:00</p>

                <p>Для участников будет организован трансфер от м. Алтуфьево. Место посадки
                    и расписание автобусов указано на карте ниже.</p>

                <p>Для гостей на личном транспорте будет предоставлено место на парковке
                    офиса ООО «Тойота Мотор».</p>

                <p>&nbsp;</p>

                <p>Просим подтвердить Ваше участие <strong>до 9 марта 2016г</strong>.</p>
            </div>
            <div class="line"></div>
            <div class="address1">
                <h2>Схема проезда к офису ООО «Тойота Мотор»</h2>
                <div class="row">
                    <div class="col col-xs-12 col-md-9"><img src="/bundles/public/img/invite/map1.jpg"></div>
                    <div class="col col-xs-12 col-md-3">
                        <div class="calendar">Мероприятие состоится
                            в субботу, <strong>12 марта</strong>,
                            в офисе  OOO
                            «Тойота Мотор».
                        </div>
                        <div class="time">Сбор гостей в <strong>12.00</strong></div>
                        <div class="time">Открытие церемонии в <strong>13.00</strong></div>
                    </div>
                </div>
            </div>
            <div class="address2">
                <h2>Схема остановки автобуса</h2>
                <div class="row">
                    <div class="col col-xs-12 col-md-9"><img src="/bundles/public/img/invite/map2.jpg"></div>
                    <div class="col col-xs-12 col-md-3">
                        <div class="schedule">
                            <strong>Расписание автобусов</strong>
                            11:50,12:00, 12:10, 12:20, 12:30, 12:40, 12:50

                            <ol>
                                <li>Выход из последнего
                                    вагона из центра.</li>
                                <li>При выходе из стеклянных
                                    дверей метро нужно
                                    повернуть налево,
                                    при выходе в город - налево
                                    вверх по лестнице.</li>
                                <li>Автобус останавливается
                                    на дублере около остановки
                                    общественного транспорта.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="video">
                <h3>ВИДЕО</h3>
                <iframe class="phone-display desktop-hide" src="https://www.youtube.com/embed/3SQcnHXGYEc?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                <div class="title">КОНКУРС ДЕТСКОГО РИСУНКА - TOYOTA «АВТОМОБИЛЬ МЕЧТЫ»</div>
                <a href="http://dreamcar.toyota.ru" target="_blank" class="btn"><img src="/bundles/public/img/invite/btn_full.png"></a>
            </div>
            <div class="line"></div>
            <div class="contact">
                <h3>КОНТАКТЫ</h3>
                <p>В случае возникновения вопросов по мероприятию, пожалуйста обращайтесь:<br>
                    <strong>Дарина Сакаллы</strong> | +7 (915) 288-46-51</p>

                <ul class="social clearfix">
                    <li><a href="https://www.facebook.com/Toyota-%D0%90%D0%B2%D1%82%D0%BE%D0%BC%D0%BE%D0%B1%D0%B8%D0%BB%D1%8C-%D0%BC%D0%B5%D1%87%D1%82%D1%8B-%D0%BA%D0%BE%D0%BD%D0%BA%D1%83%D1%80%D1%81-%D0%B4%D0%B5%D1%82%D1%81%D0%BA%D0%BE%D0%B3%D0%BE-%D1%80%D0%B8%D1%81%D1%83%D0%BD%D0%BA%D0%B0-565681673579860/" target="_blank" class="fb">Facebook</a></li>
                    <li><a href="https://www.youtube.com/user/ToyotaRussia" target="_blank" class="youtube">Youtube</a></li>
                    <li><a href="https://vk.com/toyota_dream_car" target="_blank" class="vk">Vkontakte</a></li>
                    <li><a href="https://www.instagram.com/toyotarussia/" target="_blank" class="instagram">Instagram</a></li>
                </ul>
                <div class="toyota"><a href="http://www.toyota.ru">официальный сайт TOYOTA</a></div>

            </div>
            <div class="line"></div>
            <div class="tags">#Toyota #ToyotaRussia #мояТойота #Тойота #DreamCarRussia</div>
            <div class="line"></div>
            <div class="footer">Общество с ограниченной ответственностью «Тойота Мотор» является уполномоченным импортером автомобилей, запасных частей
                и аксессуаров Toyota и Lexus в РФ и Белоруссии. Филиал ООО «Тойота Мотор» в Санкт-Петербурге занимается производством автомобилей Toyota Camry. Президентом компании является Хидэнори Одзаки. Директор Филиала ООО «Тойота Мотор»
                в Санкт-Петербурге – Есинори Мацунага. Общая численность сотрудников объединенной компании – свыше 2000 человек.
            </div>
        </div>
    </div>
<script type="text/javascript" src="/bundles/jquery/jquery.js"></script>
<script type="text/javascript" src="/bundles/public/js/invite.js"></script>
</body>
</html>