{% for mod in modules %}
  <div>
    <a class="module pointer" data-module="{{ mod.name }}"><span class="glyphicon glyphicon glyphicon-folder-close"></span> {{ mod.title }}</a>
      <div class="admin-submenu{% if module != mod.name %} closed{% endif %}" id="table-menu-{{ mod.name }}">{% if module == mod.name %}{{ mod.submenu }}{% endif %}</div>
  </div>
{% endfor %}