<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toyoya - Contacts</title>
    <link type="text/css" rel="stylesheet" href="bundles/public/css/normalize.css" media="screen">
    <link type="text/css" rel="stylesheet" href="bundles/selectize/css/selectize.css" media="screen">
    <link type="text/css" rel="stylesheet" href="bundles/public/css/app.css?2015113002" media="screen">
    <link type="text/css" rel="stylesheet" href="bundles/public/css/contacts.css?2015113002" media="screen">
</head>
<body>
    <div class="menu-button"><a href="">Меню</a></div>
    <div class="header-container">
        <div class="relative">
            <div class="slider-gradient"></div>
        </div>
        <div class="container">
            <div class="header">
                <div class="logo"><a href="index.html"><img src="bundles/public/img/logo.png"></a></div>
                <div class="mainmenu">
                    <div class="container">
                        <ul>
                            <li><a href="index.html">Главная</a></li>
                            <li><a href="bundles/public/files/rules2015.pdf">О конкурсе</a></li>
                            <!--<li><a href="gallery.html">Галерея</a></li>-->
                            <!--<li><a href="events.html">Календарь событий</a></li>-->
                            <!--<li><a href="history.html">История конкурса</a></li>-->
                            <li class="active"><a href="contacts.html">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-wrapper">
        <div class="container content-container">
            <div class="content">
                <p>По всем вопросам, касающимся проведения конкурса, обращайтесь по адресу <a href="mailto:DreamCarArtContest@toyota-motor.ru">DreamCarArtContest@toyota-motor.ru</a> или в дилерский центр Тойота вашего города.</p>

                <p>Введите в строке поиска ниже ваш город, чтобы найти ближайший ДЦ Тойота.</p>

                <p>Если в вашем городе нет пункта приёма работ, пожалуйста, отправьте нам её почтой по адресу: <span class="red">105062, г. Москва, ул. Макаренко, д.2/21, строение 2</span> , с пометкой Toyota конкурс детского рисунка «Автомобиль мечты».</p>

                <div class="map">
                    <div class="map-bg"></div>
                    <div class="search-form">
                        <select name="city" id="map-city" data-url="http://toyota/ajax/contact/cities">
                            <option value="">Начните вводить название города</option>

                            <option value="2">Владивосток</option>
                            <option value="1">Москва</option>
                            <option value="3">Минеральные Воды</option>
                        </select>
                    </div>
                    <div class="map-link-helper">Нажмите на город на карте для просмотра контактной информации.</div>
                    <div class="modal">
                        <div class="modal-dialog">
                            <a href="#" class="modal-close"></a>
                            <div id="modal-dealers">
                                <ul>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="map-canvas"></div>
                    <div id="map-dot" class="map-dot"><div class="dot"></div><div class="title"><span>Москва</span></div></div>
                </div>

                <ul id="dealer" class="dealer">
                    <li>
                        <div class="title">Тойота Центр Битца</div>
                        <div class="info">
                            ВРЕМЯ РАБОТЫ<br>
                            8:30 - 21:00<br>
                            <strong>Тел.</strong>: 8 (495) 721-33-88<br>
                            <strong>Адрес</strong>: 117452, г. Москва, Балаклавский пр-т, д. 26<br>
                            <strong>E-mail</strong>: <a href="mailto:reception@toyota-bitsa.ru">reception@toyota-bitsa.ru</a>
                        </div>

                        <a class="roadmap-link" href="">Схема проезда</a>

                        <div class="service">
                            Предоставляемые услуги:<br>
                            - продажа новых а/м Toyota<br>
                            - тюнинг<br>
                            - слесарный ремонт<br>
                            - trade-in<br>
                            - аренда авто<br>
                            - страхование<br>
                            - кредит<br>
                        </div>

                        <a class="site-link" href="">Перейти на сайт дилерского центра</a>
                    </li>
                    <li>
                        <div class="title">Тойота Центр Битца</div>
                        <div class="info">
                            ВРЕМЯ РАБОТЫ<br>
                            8:30 - 21:00<br>
                            <strong>Тел.</strong>: 8 (495) 721-33-88<br>
                            <strong>Адрес</strong>: 117452, г. Москва, Балаклавский пр-т, д. 26<br>
                            <strong>E-mail</strong>: <a href="mailto:reception@toyota-bitsa.ru">reception@toyota-bitsa.ru</a>
                        </div>

                        <a class="roadmap-link" href="">Схема проезда</a>

                        <div class="service">
                            Предоставляемые услуги:<br>
                            - продажа новых а/м Toyota<br>
                            - тюнинг<br>
                            - слесарный ремонт<br>
                            - trade-in<br>
                            - аренда авто<br>
                            - страхование<br>
                            - кредит<br>
                        </div>
                        <a class="site-link" href="">Перейти на сайт дилерского центра</a>
                    </li>
                </ul>

            </div>
            <div class="social">
                <a href="http://vk.com/toyotarussia" target="_blank"><img src="bundles/public/img/vk.png"></a>
                <a href="https://www.facebook.com/toyotarussia" target="_blank"><img src="bundles/public/img/fb.png"></a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-content">
                Если у вас есть вопросы о конкурсе 2016 года, напишите нам письмо по адресу <a href="mailto:dreamcarcontest@toyota-motor.ru">dreamcarcontest@toyota-motor.ru</a><br>
                С полными правилами и условиями участия в конкурсе вы можете ознакомиться <a href="bundles/public/files/rules2015.pdf">здесь</a><br>
                Период приёма работ на конкурс с 01.12.2015 по 07.02.2015<br>
                Период проведения конкурса с 01.12.2015 по 13.05.2016<br>
                Организатор проведения конкурса в России ООО «Авангард Бренд Сервисез Рус» ИНН 7708759870
            </div>

        </div>
    </div>
    <script src="bundles/jquery/jquery.js"></script>
    <script src="bundles/selectize/js/standalone/selectize.min.js"></script>
    <script src="bundles/scrollto/jquery.scrollTo.min.js"></script>
    <script src="bundles/public/js/app.js?2015113001"></script>
    <script src="bundles/public/js/map.js?2015113001"></script>
</body>
</html>