<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toyoya - Home</title>
    <link type="text/css" rel="stylesheet" href="bundles/public/css/normalize.css" media="screen">
    <link type="text/css" rel="stylesheet" href="bundles/jcarousel/jcarousel.css" media="screen">
    <link type="text/css" rel="stylesheet" href="bundles/public/css/app.css?2015113002" media="screen">
    <link type="text/css" rel="stylesheet" href="bundles/public/css/home.css?2015113002" media="screen">
</head>
<body>
    <div class="menu-button"><a href="">Меню</a></div>
    <div class="header-container">
        <div class="relative">
            <div class="slider-gradient"></div>
            <div class="slider-grass"></div>
        </div>
        <div class="container">
            <div class="header">
                <div class="logo"><a href="index.html"><img src="bundles/public/img/logo.png"></a></div>
                <div class="logo-dreamcar"><img src="bundles/public/img/logo_dreamcar.png"></div>
                <div class="mainmenu">
                    <div class="container">
                        <ul>
                            <li class="active"><a href="index.html">Главная</a></li>
                            <li><a href="bundles/public/files/dreamcar_rules.pdf">О конкурсе</a></li>
                            <!--<li><a href="gallery.html">Галерея</a></li>-->
                            <!--<li><a href="events.html">Календарь событий</a></li>-->
                            <!--<li><a href="history.html">История конкурса</a></li>-->
                            <li><a href="contacts.html">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container container0">
        <div class="slider-wrapper">
            <div class="jcarousel">
                <ul class="slider">
                    <!--<li id="slide1">-->
                        <!--<div class="counter">-->
                            <!--<div id="day" class="day">65</div>-->
                            <!--<div id="hour" class="hour">12</div>-->
                            <!--&lt;!&ndash;<div class="day-name">дней</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="hour-name">часов</div>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</li>-->
                    <li id="slide2"></li>
                </ul>
                <!--<a href="#" class="jcarousel-control-prev slider-prev"><img src="bundles/public/img/prev.png"></a>-->
                <!--<a href="#" class="jcarousel-control-next slider-next"><img src="bundles/public/img/next.png"></a>-->
            </div>
        </div>
    </div>
    <div class="bg-wrapper">
        <div class="container content-container">
            <div class="content">
                <h1>Будущее начинается с мечты!</h1>
                <p><strong>Toyota верит: великие изобретения начинаются с&nbsp;мечты. А&nbsp;мечта начинается с&nbsp;детства. Давайте фантазировать вместе!</strong></p> <p>Участвуйте в&nbsp;конкурсе детского рисунка &laquo;Автомобиль мечты&raquo; c&nbsp;Toyota. Предложите своему ребенку нарисовать невероятный автомобиль будущего: крылатый, многорукий, смешной. И&nbsp;кто знает: может, однажды мы&nbsp;все будем ездить за&nbsp;рулем изобретения вашего юного мечтателя!</p>
                <p class="video"><iframe class="phone-display desktop-hide" src="https://www.youtube.com/embed/3SQcnHXGYEc?rel=0" width="100%" height="150" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
                <div class="clearfix"><img id="girl-paints" src="/bundles/public/img/girl_paint.png" alt="" />
                    <div class="girl">&nbsp;</div>
                    <h2 class="girl-header">Кто может участвовать в конкурсе?</h2>
                    <img id="girl-paints-xs" src="/bundles/public/img/girl_paint.png" alt="" />
                    <p class="paragraph1">Любой ребенок, проживающий на&nbsp;территории России в&nbsp;возрасте до&nbsp;15 лет включительно. Справедливое жюри оценит работы участников в&nbsp;трех возрастных категориях:</p>
                    <div>
                        <ul class="category">
                            <li>1 категория&nbsp;&mdash; дети до&nbsp;7 лет включительно</li>
                            <li>2 категория&nbsp;&mdash; дети от&nbsp;8 до&nbsp;11 лет</li>
                            <li>3 категория&nbsp;&mdash; дети от&nbsp;12 до&nbsp;15 лет включительно</li>
                        </ul>
                    </div>
                </div>
                <h2>Что нужно сделать?</h2>
                <p>Чтобы стать участником конкурса, ваш ребенок должен нарисовать и&nbsp;раскрасить свой автомобиль будущего. Пусть в&nbsp;нем воплотятся все самые смелые мечты и&nbsp;яркие фантазии вашего юного изобретателя!</p> <p class="paragraph2"><strong>Проверьте, отвечает&nbsp;ли рисунок требованиям конкурса:</strong></p>
                <div class="para-pic clearfix">
                    <div id="pictures2"><img id="picture2" src="/bundles/public/img/picture1.jpg" alt="" /></div>
                    <ul class="rules">
                        <li>У&nbsp;автомобиля будущего есть подходящее название и&nbsp;описание его уникальных свойств и&nbsp;характеристик</li>
                        <li>Размер бумаги соответствует формату А3 (предпочтительно) или А4</li>
                        <li>Убедитесь, что рисунок вашего ребенка (автомобиль и&nbsp;фон) яркий, красочный и&nbsp;разноцветный, а&nbsp;не&nbsp;<nobr>чёрно-белый</nobr></li>
                        <li>Мы&nbsp;в&nbsp;Toyota считаем, что самые интересные рисунки нарисованы от&nbsp;руки. Пожалуйста, не&nbsp;используйте компьютерную графику, коллажи или аппликации. Пусть ваш ребенок творит!</li>
                    </ul>
                </div>
                <h2>Как отправить работу на конкурс?</h2>
                <p>Работы и заполненные анкеты можно подать на конкурс в одном из дилерских центров Toyota вашего города &ndash; <a href="/contacts">найдите ближайший дилерский центр</a>.</p>
                <div class="clearfix"><img id="envelope" src="/bundles/public/img/envelope2.png" alt="" />
                    <p>Если в&nbsp;вашем городе нет пункта приёма работ, отправьте вашу заявку почтой по&nbsp;адресу: 105062, г. Москва, ул.&nbsp;Макаренко д.21/2 стр.&nbsp;2, офис компании Avantgarde, с&nbsp;пометкой -Toyota, конкурс детского рисунка &laquo;Автомобиль мечты&raquo;.</p>
                    <p>Работы принимаются в период с 1 декабря 2015 г. по 7 февраля 2016 г. Если отправляете нам работы по&nbsp;почте, сделайте это заранее, чтобы успеть к&nbsp;указанному сроку.</p>

                </div>
                <h2>Что можно выиграть?</h2>
                <p>В&nbsp;этом году мы&nbsp;подготовили для вас уникальные призы из&nbsp;детской коллекции Toyota. Следите за&nbsp;новостями на&nbsp;нашем сайте!</p>
                <div class="clearfix"><img id="prizes" src="/bundles/public/img/prizes.jpg" alt="" />
                    <p>Работы победителей из&nbsp;каждой возрастной категории будут отправлены на&nbsp;международный этап конкурса в&nbsp;Японию. Если ваша работа попадет в&nbsp;финал, возможно, именно ваша семья отправится в&nbsp;Японию на&nbsp;церемонию награждения.</p>
                    <p>В&nbsp;конкурсе 2015 года впервые участвовали дети из&nbsp;России&nbsp;&mdash; и&nbsp;сразу победа! Марк Старенков из&nbsp;<nobr>Ростова-на-Дону</nobr> с&nbsp;рисунком автомобиля будущего &laquo;Motoryota&raquo; стал первым российским лауреатом международного конкурса!</p>
                </div>
                <h2>Что делать, если нет идей?</h2>
                <img id="boy-xs" src="/bundles/public/img/boy.png" alt="" />
                <p>Как выглядит автомобиль мечты? Как он&nbsp;работает? Как он&nbsp;может сделать мир лучше, чище и&nbsp;ярче для будущих поколений?</p>
                <div class="clearfix"><img id="boy" src="/bundles/public/img/boy.png" alt="" />
                    <p>Это те&nbsp;вопросы, которые задают себе дизайнеры Toyota, создавая новые автомобили.</p>
                    <p>Задайте эти вопросы своему юному изобретателю, и&nbsp;уверены он&nbsp;найдет решение! Посмотрите, что придумали конкурсанты прошлого года.</p>
                    <p>Может быть, там ваш юный художник найдет вдохновение. Удачи!</p>
                </div>
            </div>
            <div class="social">
                <a href="http://vk.com/toyotarussia" target="_blank"><img src="bundles/public/img/vk.png"></a>
                <a href="https://www.facebook.com/toyotarussia" target="_blank"><img src="bundles/public/img/fb.png"></a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-content">
                Если у вас есть вопросы о конкурсе 2016 года, напишите нам письмо по адресу <a href="mailto:dreamcarcontest@toyota-motor.ru">dreamcarcontest@toyota-motor.ru</a><br>
                С полными правилами и условиями участия в конкурсе вы можете ознакомиться <a href="">здесь</a><br>
                Период приёма работ на конкурс с 01.12.2015 по 07.02.2015<br>
                Период проведения конкурса с 01.12.2015 по 13.05.2016<br>
                Организатор проведения конкурса в России ООО «Авангард Бренд Сервисез Рус» ИНН 7708759870
            </div>

        </div>
    </div>
    <script type="text/javascript" src="bundles/jquery/jquery.js"></script>
    <script type="text/javascript" src="bundles/jcarousel/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="bundles/public/js/app.js?2015113001"></script>
</body>
</html>