<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toyoya - OAuth Verify</title>
    <link type="text/css" rel="stylesheet" href="/bundles/public/css/app.css?2015113002" media="screen">
</head>
<body>
    {{ maincontent }}
    {% if close %}
    <script type="text/javascript">
//        window.opener.location.reload();
        window.opener.openProfileForm();
        window.close();
    </script>
    {% endif %}
</body>
</html>