<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ theme_ref }}/framework/css/error.css" type="text/css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>{{ status_code }}</title>
</head>
<body>
<div class="error">
    <div><a href="/"><img src="{{ prj_ref }}{{ project_logo }}"></a></div>
    <br>
    <h1>У нас технические работы</h1>
    <div class="error-text">но уже скоро<br> мы снова будем с вами</div>
</div>
</body>
</html>