<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="margin:0;padding: 0;">

<div style="margin:0;padding:0;font-family:Arial,sans-serif;font-size:17px;line-height:22px;text-align:left;background-color:#ffffff;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
            <td align="center" style="border-collapse:collapse;margin:0;padding:0;height:100% !important;width:100% !important;">

                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:905px;max-width:905px;">
                    <tbody><tr>
                        <td align="center" valign="top" style="border-collapse:collapse;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td height="0" style="border-collapse:collapse;background-color: #ffffff;"></td>
                                </tr>
                                </tbody></table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"  background-color=" #ffffff">
                                <tbody>
                                <tr>
                                    <td style="text-align:center;border-collapse:collapse;background-color: #ffffff">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                                            <tbody>
                                            <tr>
                                                <td height="414" style="text-align:center;border-collapse:collapse;">
                                                    <img style="display:block" src="{{ server_link }}/bundles/public/img/mail/header.jpg" alt="" border="0" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 40px 195px;text-align:center;border-collapse:collapse;background-color: #f6f6f6;" background="{{ server_link }}/bundles/public/img/mail/bg_paints.jpg">
                                                    <h1 style="font-size: 24px;line-height: 24px;margin:0;margin-bottom: 30px;">Здравствуйте!</h1>

                                                    <p>Вы запросили новый пароль на сайте <a target="_blank" href="http://dreamcar.toyota.ru">dreamcar.toyota.ru</a>.</p>

                                                    <p>Новые учетные данные</p>
                                                    <p>Логин: {{ email }}<br>
                                                    Пароль: {{ password }}</p>

                                                    <p>Если Вы этого не делали, проигнорируйте это письмо.</p>

                                                    <p>Желаем удачи!<br>С уважением, конкурс детского рисунка «Автомобиль мечты».</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20" style="border-collapse:collapse;background-color: #ffffff;"></td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>