<h4>Укажите e-mail, который Вы использовали при регистрации на сайте</h4>

<form id="form-forgot" action="/pictures/forgot" method="post">
    <input type="text" name="login" placeholder="E-mail">
    <div class="form-controls"><button>Отправить</button><a href="/pictures/login">Войти</a></div>
</form>
