{% if ages|length > 1 %}
    <ul class="tabs">
        {% for age in ages %}
            <li{% if 1 == age.id %} class="active"{% endif %} data-id="{{ age.id }}">{{ age.name }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="form-search clearfix">
    <form>
        <input id="city" class="form-control form-control-city" type="text" name="city" placeholder="Введите название города">
        <input id="person" class="form-control form-control-person" type="text" name="person" placeholder="Введите Фамилию и имя">
        <button class="btn-picture-search"></button>
    </form>
</div>

<div class="picture-help">Листайте для перемещения по работам</div>

<div class="pictures-container">
    <div class="pictures" data-category="{{ firstAge.id }}">
        {#<div class="picture">#}
            {#<div class="img">#}
                {#<div class="picture-vote">Голосовать</div>#}
                {#<img src="/bundles/public/img/orange.jpg">#}
            {#</div>#}
            {#<div class="person">Иванова Лена, 14 лет</div>#}
            {#<div class="city">Москва</div>#}
            {#<div class="name">&laquo;Летающая тачка&raquo;</div>#}
        {#</div>#}
        {#<div class="picture">#}
            {#<div class="picture-vote">Голосовать</div>#}
            {#<img src="/bundles/public/img/orange.jpg">#}
            {#<div class="person">Иванова Лена, 14 лет</div>#}
            {#<div class="city">Москва</div>#}
            {#<div class="name">&laquo;Летающая тачка&raquo;</div>#}
        {#</div>#}
        {#<div class="picture">#}
            {#<div class="picture-vote">Голосовать</div>#}
            {#<img src="/bundles/public/img/orange.jpg">#}
            {#<div class="person">Иванова Лена, 14 лет</div>#}
            {#<div class="city">Москва</div>#}
            {#<div class="name">&laquo;Летающая тачка&raquo;</div>#}
        {#</div>#}
        {#<div class="picture">#}
            {#<div class="picture-vote">Голосовать</div>#}
            {#<img src="/bundles/public/img/orange.jpg">#}
            {#<div class="person">Иванова Лена, 14 лет</div>#}
            {#<div class="city">Москва</div>#}
            {#<div class="name">&laquo;Летающая тачка&raquo;</div>#}
        {#</div>#}
    </div>
    <div id="picture-counter" class="picture-counter"><span id="slide-current"></span>/<span id="slide-total"></span></div>
</div>


{#<div class="red-line">#}
    {#<div>Здесь вы можете посмотреть работы участников<br>9-го конкурса &laquo;Автомобиль мечты&raquo;</div>#}
{#</div>#}