<div class="text-center">Выберите возрастную категорию</div>
{% if ages|length > 1 %}
    <ul class="tabs">
        {% for age in ages %}
            <li{% if 1 == age.id %} class="active"{% endif %} data-id="{{ age.id }}">{{ age.name }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="form-search clearfix">
    <form>
        <input id="city" class="form-control form-control-city" type="text" name="city" placeholder="Введите название города">
        <input id="person" class="form-control form-control-person" type="text" name="person" placeholder="Введите Фамилию и имя">
        <button class="btn-picture-search"></button>
    </form>
</div>

<div class="picture-help">Листайте страницу в сторону, чтобы посмотреть работы участников</div>

<div class="pictures-container">
    <div class="pop-up">
        <div class="bdr-t"></div>
            <div id="pictures" class="pictures" data-category="{{ firstAge.id }}"></div>
            <div id="picture-counter" class="picture-counter"><span id="slide-current"></span>/<span id="slide-total"></span></div>
        <div class="bdr-b"></div>
    </div>
</div>

<div class="modal">
    <div class="modal-dialog">
        <a href="#" class="modal-close"></a>
        <div class="modal-pictures">
            <div class="modal-picture">
                <img src="/bundles/public/img/picture_big.jpg">
                <div class="relative">
                    <div class="place"><span>2 место</span></div>
                    <a href="#" class="popup-prev"></a>
                    <a href="#" class="popup-next"></a>
                </div>
                <div class="title">Весёлый уборщик снега</div>
                <div class="person">Янкова Полина (Мытищи), 6 лет</div>
                <div class="idea">Идея:<br>
                    Моя машина убирает снег с улиц моего города - Мытищи. Это машина - "Весёлый уборщик снега" - необыкновенная, вместо того, чтобы просто убирать снег - она делает снеговиков. Они очень добрые и весёлые, дарят людям и прохожим радость. Я надеюсь, что такая машина моей мечты скоро появится на улицах нашего города.
                </div>
            </div>
        </div>
    </div>
</div>


{#<div class="red-line">#}
    {#<div>Здесь вы можете посмотреть работы участников<br>9-го конкурса &laquo;Автомобиль мечты&raquo;</div>#}
{#</div>#}