<p>Не удается войти.</p>
<p>Пожалуйста, проверьте правильность написания логина и пароля.</p>

<div class="nologin-controls"><a href="/pictures/register">Зарегистрироваться</a> <a href="/pictures/forgot">Сбросить пароль</a></div>
<div class="nologin-controls"><a href="/pictures/login">Вернуться назад</a></div>