<h4>Последний шаг!<br> Заполните анкету перед голосованием</h4>

<form id="form-forgot" action="/pictures/profile" method="post">
    <input type="text" name="name" placeholder="Имя" value="{{ user.name }}">
    <input type="text" name="lastname" placeholder="Фамилия" value="{{ user.lastname }}">
    <input type="text" name="age" placeholder="Возраст" value="{{ user.age }}">
    <div class="form-checkbox"><input type="checkbox" name="is_driver" value="1"><label>Автомобиль</label></div>
    <input type="text" name="auto_brand" placeholder="Марка авто">
    <input type="text" name="auto_model" placeholder="Модель авто">
    <div class="form-checkbox"><input type="checkbox" name="is_subscribed" checked="checked" value="1"><label>Получать рассылку от Toyota</label></div>
    <br>
    <div class="form-controls"><button>Отправить</button></div>
</form>