<h4>Последний шаг!<br> Заполните анкету перед голосованием</h4>

<form id="form-forgot" action="/pictures/profile" method="post">
    <div class="message message-error"></div>
    <input type="text" name="name" placeholder="Имя" value="{{ user.name }}">
    <input type="text" name="lastname" placeholder="Фамилия" value="{{ user.lastname }}">
    <input type="number" name="age" placeholder="Возраст" value="{{ user.age }}">
    {#{% if user.code %}#}
    {#<input type="text" name="code" placeholder="Проверочный код из письма регистрации">#}
    {#{% endif %}#}
    <div class="form-checkbox"><input type="checkbox" name="is_driver" value="1"><label>Автомобиль во владении</label></div>
    <input type="text" name="auto_brand" placeholder="Марка автомобиля">
    <input type="text" name="auto_model" placeholder="Модель автомобиля">
    <div class="form-checkbox"><input type="checkbox" name="is_subscribed" checked="checked" value="1"><label>Получать рассылку от Toyota</label></div>
    <div><a class="dynamic" href="#personal-information">Нажав кнопку «Отправить», вы подтверждаете свое согласие на обработку персональных данных</a></div>
    <div id="personal-information">Ваши персональные данные, полученные посредством данного сайта Тойота, будут использованы ООО «Тойота Мотор» («Обществом»), исключительно для предоставления Вам информации о предлагаемых уполномоченными дилерами Тойота товарах и услугах, а также для проведения исследований рынка и опросов потребителей, направленных на дальнейшее улучшение качества предлагаемых уполномоченными дилерами Тойота товаров и услуг. Персональные данные, полученные Обществом, хранятся в соответствии с требованиями законодательства на условиях конфиденциальности. Предоставляя свои персональные данные, Вы соглашаетесь с тем, что Ваши персональные данные, полученные Обществом, могут быть переданы третьим лицам с соблюдением требований законодательства и на условиях конфиденциальности, в случае, если это необходимо для реализации вышеуказанных целей. При передаче Общество предупреждает лиц, получающих Ваши персональные данные, о том, что эти данные могут быть использованы лишь в целях, для которых они сообщены, и требует от этих лиц подтверждения того, что это правило соблюдено. Вы вправе запросить у Общества полную информацию о своих персональных данных, их обработке и использовании, а также потребовать исключения или исправления неверных или неполных персональных данных.</div>
    <br>
    <div class="form-controls"><button>Отправить</button></div>
</form>