<div class="slider-wrapper">
    <div class="jcarousel">
        <ul class="slider">
            <li id="slide1">
                <img class="visible-xs hidden-md" src="{{ competition.mobile_value.value }}">
                <img class="hidden-xs visible-md" src="{{ competition.desktop_value.value }}">
            </li>
        </ul>
    </div>
</div>