.content {
    padding-top: 90px;
}

.calendar-container {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.calendar-help {
    width: 166px;
    font-size: 14px;
    font-family: "ToyotaDisplay", Arial, sans-serif;
    text-align: center;
    height: 30px;
}

.content a.calendar-year-prev, .content a.calendar-year-next {
    display: block;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    width: 12px;
    height: 18px;
}

a.calendar-year-prev {
    background-image: url('../img/calendar-prev.png');
    float: left;
    margin-left: 10px;
}
a.calendar-year-next {
    background-image: url('../img/calendar-next.png');
    float: right;
    margin-right: 10px;
}

.calendar {
    height: 170px;
    border: 1px solid #e1e1e1;
    border-top: 0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.15);
    overflow: hidden;
}

.calendar .title {
    background-color: #cf142b;
    height: 30px;
    width: 164px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
}

.calendar > .months {
    position: relative;
    width: 160px;
    height: 130px;
    background-color: #fff;
    background: url('../img/calendar_bg.png') center center no-repeat;
}

.month {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    position: absolute;
    width: 53px;
    height: 40px;
    z-index: 5;
    padding-top: 14px;
    padding-left: 16px;
}

.month.active {
    color: #fff;
    background-image: url('../img/blots160.png');
    background-repeat: no-repeat;
    z-index: 4;
}

.month:hover {
    cursor: pointer;
}

.month1 {
    top: 0;
    left: 0;
    background-position: 0 0;
}

.month2 {
    top: 0;
    left: 50px;
    background-position: -53px 0;
    padding-left: 17px;
}

.month3 {
    top: 0;
    left: 102px;
    background-position: -106px 0;
}

.month4 {
    top: 33px;
    left: 0;
    background-position: 0 -42px;
}

.month5 {
    top: 33px;
    left: 50px;
    background-position: -53px -42px;
    padding-left: 17px;
}

.month6 {
    top: 33px;
    left: 102px;
    background-position: -106px -42px;
}

.month7 {
    top: 66px;
    left: 0;
    background-position: 0 -84px;
}

.month8 {
    top: 66px;
    left: 50px;
    background-position: -53px -84px;
    padding-left: 17px;
}

.month9 {
    top: 66px;
    left: 102px;
    background-position: -106px -84px;
}

.month10 {
    top: 99px;
    left: 0;
    background-position: 0 -126px;
}

.month11 {
    top: 99px;
    left: 50px;
    background-position: -53px -126px;
    padding-left: 17px;
}

.month12 {
    top: 99px;
    left: 102px;
    background-position: -106px -126px;
    padding-left: 18px;
}

.content ul.events {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content ul.events li {
    padding: 0;
    margin-bottom: 20px;
}

.content ul.events li:before {
    content: "";
}

ul.events img {
    display:  block;
    max-width: 100% !important;
    margin-bottom: 10px;
}

ul.events .title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: bold;
}

ul.events .title a {
    color: #2e3a41;
}

ul.events .date {
    font-size: 14px;
    line-height: 14px;
    color: #d0112b;
    margin-bottom: 5px;
}

ul.events .preview {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}

ul.events .link a{
    display: block;
    font-size: 13px;
    line-height: 25px;
    color: #b0b3af;
}

a.prev-event, a.next-event {
    font-weight: 700;
    line-height: 18px;
    white-space: nowrap;
    display: block;
    width: 140px;
    background-repeat: no-repeat;
    text-decoration: none;
    position: absolute;
}

a.prev-event {
    background-image: url('../img/event_prev.png');
    background-position: left center;
    padding-left: 20px;
    left: 0;
}

a.next-event {
    text-align: right;
    background-image: url('../img/event_next.png');
    background-position: right center;
    padding-right: 20px;
    right: 0;
}

.event-source {
    color: #999;
    font-weight: 700;
    margin-bottom: 20px;
}

.event-links {
    margin-top: 30px;
    height: 30px !important;
    position: relative;
}

.event-prev-text-md, .event-next-text-md {
    display: none;
}

@media (min-width: 600px) {
    ul.events .picture {
        float: left;
        margin-right: 22px;
    }

    ul.events .picture {
        width: 200px;
    }

    .event-prev-text-xs, .event-next-text-xs {
        display: none;
    }

    .event-prev-text-md, .event-next-text-md {
        display: inline-block;
    }

    a.prev-event, a.next-event {
        width: 300px;
    }

}

@media (min-width: 900px) {
    /*.content {*/
        /*-moz-box-shadow: 0px 3px 40px rgb(100,100,100);*/
        /*-webkit-box-shadow: 0px 3px 40px rgb(100,100,100);*/
        /*box-shadow: 0px 3px 40px rgb(100,100,100);*/
    /*}*/

    .calendar-container {
        width: 100%;
        position: relative;
        margin-bottom: 0;
    }

    .calendar-help, .calendar {
        position: absolute;
        right: 30px;
    }

    .calendar {
        top: 30px;
    }

    .content ul.events {
        width: 70%;
    }

    .content ul.events li {
        margin-bottom: 40px;
    }

    ul.events {
        min-height: 200px;
    }

    ul.events .title{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    ul.events .title a{
        color: #54565b;
    }

    /*ul.events .preview {*/
        /*font-size: 17px;*/
        /*line-height: 21px;*/
        /*margin-bottom: 10px;*/
    /*}*/
}
