.slider-wrapper {
    position: relative;
    width: 100%;
    height: 315px;
    overflow-y: hidden;
}

ul.slider li {
    height: 315px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
}

ul.slider img {
    max-width: 330px !important;
    margin: 0 auto;
    /*margin: 40px auto 0;*/
}

.slider-prev, .slider-next {
    display: none;
    width: 46px;
}

.slider-prev {
    left: 3px;
}

.slider-next {
    right: 3px;
}

.slider-grass {
    position: absolute;
    left: 0;
    top: 338px;
    width: 100%;
    height: 26px;
    background-image: url('../img/grass_new.png');
    background-position: top left;
    background-repeat: repeat-x;
    background-size: 125px 26px;
    z-index: 21;
}

.slider-vote-link {
    display: block;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -109px;
    top: 205px;
}

.slider-vote-link a {
    display: block;
    width: 192px;
    height: 32px;
    background-color: #cf142b;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    padding-top: 9px;
}

.counter {
    position: relative;
}

.counter .day, .counter .hour {
    position: absolute;
    font-size: 27px;
    line-height: 27px;
    color: #fff;
}

.counter .day {
    top: 206px;
    left: 50%;
    margin-left: -72px;
    letter-spacing: 12px;
}

.counter .hour {
    top: 206px;
    left: 50%;
    margin-left: -1px;
    letter-spacing: 12px;
}


.content img {
    max-width: 100% !important;
}

.girl {
    content: "";
    height: 0;
}

img#girl-paints-xs {
    display: block;
    max-width: 60% !important;
    margin: 20px auto;
}

img#girl-paints {
    display: none;
}

#pictures2 {
    text-align: center;
    margin: 10px 0 30px;
}

.content ul.rules li {
    margin-bottom: 15px;
}

img#envelope {
    display: block;
    max-width: 45% !important;
    margin: 25px auto;
}

img#prizes {
    display: block;
    margin: 25px auto;
}

img#boy-xs {
    display: block;
    max-width: 70% !important;
    margin: 20px auto;
}

img#boy {
    display: none;
}

p.video {
    margin-left: -20px;
    margin-right: -20px;
}

p.video iframe {
    height: 180px;
}

@media (min-width: 330px) {
    .slider-vote-link {
        margin-left: -114px;
    }
}

@media (min-width: 480px) {
    p.video iframe {
        max-width: 100% !important;
        height: 240px;
    }
}

@media (min-width: 600px) {
    p.video iframe {
        max-width: 100% !important;
        height: 320px;
    }
}

@media (min-width: 768px) {
    p.video {
        padding: 30px 50px 20px;
    }

    p.video iframe {
        height: 365px;
    }
}

@media (min-width: 900px){
    .container0 {
        background-color: #fff;
        max-width: 100% !important;
    }

    .slider-wrapper {
        position: relative;
        margin: 0 auto;
        width: 900px;
        height: 487px;
    }

    ul.slider li {
        height: 487px;
        text-align: center;
    }

    ul.slider img {
        max-width: 900px !important;
        margin: 0 auto;
    }

    .slider-prev, .slider-next {
        /*display: block;*/
        width: 52px;
        top: 200px;
    }

    .slider-grass {
        top: 509px;
    }

    .slider-vote-link {
        display: block;
        position: absolute;
        z-index: 2;
        left: 268px;
        margin-left: 0;
        top: 290px;
    }

    .slider-vote-link a {
        display: block;
        width: 328px;
        height: 44px;
        background-color: #cf142b;
        color: #fff;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 20px;
        padding-top: 11px;
    }

    .counter .day, .counter .hour {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 14px;
    }

    .counter .day {
        top: 173px;
        left: 50%;
        margin-left: -90px;
    }

    .counter .hour {
        top: 173px;
        left: 50%;
        margin-left: 31px;
    }

    p.video {
        margin-left: 0;
        margin-right: 0;
        padding: 30px 50px 20px;
    }

    p.video iframe {
        height: 365px;
    }

    .girl {
        content: " ";
        height: 5px;
    }

    .girl-header {
        margin-top: 20px;
    }

    img#girl-paints-xs {
        display: none;
    }

    img#girl-paints {
        display: block;
        float: left;
        margin: 0;
        margin-right: 30px;
        margin-bottom: 10px;
        max-width: 253px !important;
    }

    p.paragraph1 {
        padding-right: 30px;
        margin-bottom: 0;
    }

    .content ul.category {
        position: static;
        line-height: 26px;
    }

    .content ul.category li:before {
        position: static;
        margin-right: 8px;
    }

    #pictures {
        display: none;
    }

    #pictures2 {
        display: block;
        float: right;
        margin-left: 40px;
    }

    p.paragraph2 {
        margin-bottom: 0;
    }

    ul.rules {
        padding-right: 200px;
        margin-bottom: 10px;
    }

    .content ul.rules li {
        margin-bottom: 0;
    }

    img#picture2 {
        display: block;
    }

    img#envelope {
        float: left;
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 100px;
        margin-bottom: 0;
        max-width: 185px !important;
    }

    img#prizes {
        float: right;
        margin-top: 0;
        margin-left: 40px;
        margin-bottom: 10px;
        margin-right: 0;
        /*max-width: 185px !important;*/
        max-width: 240px !important;
    }

    img#boy-xs {
        display: none;
    }

    img#boy {
        display: block;
        float: left;
        margin-top: 5px;
        margin-left: 40px;
        margin-right: 66px;
        margin-bottom: 40px;
        max-width: 180px !important;
    }
}

/*@media (min-width: 1200px){*/
    /*img#envelope {*/
        /*margin-bottom: 40px;*/
    /*}*/

    /*img#boy {*/
        /*margin-bottom: 40px;*/
    /*}*/
/*}*/
