@font-face {
    font-family: 'ToyotaDisplay';
    src: url('font/ToyotaDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/ToyotaDisplay-Regular.woff') format('woff'),
    url('font/ToyotaDisplay-Regular.ttf')  format('truetype'),
    url('font/ToyotaDisplay-Regular.svg#ToyotaDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ToyotaDisplay';
    src: url('font/ToyotaDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('font/ToyotaDisplay-Bold.woff') format('woff'),
    url('font/ToyotaDisplay-Bold.ttf') format('truetype'),
    url('font/ToyotaDisplay-Bold.svg#ToyotaDisplay-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "ToyotaDisplay", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #54565b;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    color: #54565b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #e11a2c;
    margin: 0;
    padding: 0;
    padding-top: 41px;
    padding-bottom: 40px;
}

h2 {
    font-size: 17px;
    line-height: 21px;
    color: #4d4f53;
    width: 90%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-width: 320px;
    max-width: 1066px;
    /*position: relative;*/
}

.content {
    padding: 0 20px;
}

.line {
    width: 100%;
    height: 0;
    border-bottom: 2px dotted #cbcdc9;
}

.line.solid {
    height: 0;
    border-bottom: 4px solid #cbcdc9;
    margin: 12px 0;
}

img {
    max-width: 100%;
    /*display: none;*/
}


.logo {
    position: relative;
}

.logo img {
    position: absolute;
    right: 20px;
    max-width: 56px !important;
}

.header {
    margin: 29px -20px 0;
}

.text {
    margin-bottom: 15px;
}

.address1 {
    margin: 24px 0 30px;
}

.address1 h2 {
    margin-bottom: 13px;
}

.address2 {
    margin: 0 0 30px;
}

.address2 h2 {
    margin-bottom: 13px;
}

.address1 .calendar {
    margin-top: 10px;
    margin-bottom: 15px;
    background-image: url('../img/invite/calendar.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 33px 38px;
    padding-left: 46px;
    min-height: 33px;
    padding-top: 10px;
}

.address1 .time {
    margin-bottom: 15px;
    background-image: url('../img/invite/time.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    padding-left: 46px;
    min-height: 32px;
    padding-top: 5px;
}

.address2 .schedule {
}

.address2 .schedule strong {
    display: block;
}

.address2 .schedule ol {
    margin: 0;
    margin-left: 13px;
    margin-top: 20px;
    padding: 0;
}

.address2 .schedule ol li {
    padding-bottom: 15px;
}

.video .title {
    text-align: center;
    font-size: 19px;
    line-height: 19px;

}

.video a.btn {
    margin: 30px auto 40px;
    display: block;
    width: 100%;
    max-width: 440px !important;
}

ul.social {
    margin: 0;
    padding: 0;
    font-size: 19px;
    text-align: center;
    margin-top: 30px;
    list-style: none;
}

ul.social li {
    display: block;
}

ul.social a {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 50px;
    line-height: 43px;
    min-height: 44px;
    margin: 0 35px 20px;
}

ul.social a.fb {
    background-image: url('../img/invite/fb.png');
    background-size: 43px 44px;
}

ul.social a.youtube {
    background-image: url('../img/invite/youtube.png');
    background-size: 44px 44px;
}

ul.social a.vk {
    background-image: url('../img/invite/vk.png');
    background-size: 44px 44px;
}

.social a.instagram {
    background-image: url('../img/invite/instagram.png');
    background-size: 44px 44px;
}

.toyota {
    margin: 30px 0;
    text-align: center;
}

.toyota a {
    line-height: 24px;
    display: inline-block;
    background-color: #fff;
    background-image: url('../img/invite/toyota_site.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 50px 47px;
    min-height: 50px;
    padding-left: 60px;
    font-size: 18px;
}

.tags {
    text-align: center;
    color: #e11a2c;
    padding: 24px 0;
}

.footer {
    font-size: 12px;
    line-height: 18px;
    padding: 21px 0;
    text-align: center;
    letter-spacing: 1px;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row:after, .row:before {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content:" ";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.col {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-12 {
    width: 100%;
}

@media (min-width: 339px){
    .toyota a {
        line-height: 50px;
    }
}

@media (min-width:600px) {
    ul.social li {
        float: left;
        width: 50%;
    }

    ul.social li a {
        width: 137px;
    }
}

@media (min-width: 900px) {
    ul.social li {
        display: inline-block;
        float: none;
        width: auto;
    }

    ul.social li a {
        width: auto;
    }
}

@media (min-width: 960px) {
    .container {
        margin: 0 auto;
    }

    .content {
        padding: 0 31px;
    }

    body {
        font-size: 22px;
    }

    h1 {
        font-size: 47px;
        line-height: 47px;
        text-transform: uppercase;
        color: #e11a2c;
        margin: 0;
        padding: 0;
        padding-top: 41px;
        margin-bottom: 25px;
    }

    h2 {
        font-size: 25px;
        line-height: 27px;
        color: #4d4f53;
        width: 90%;
        margin: 0;
        padding: 0;
    }

    .line {
        height: 0;
        border-bottom: 2px dotted #cbcdc9;
    }

    .line.solid {
        width: 88%;
        height: 0;
        border-bottom: 4px solid #cbcdc9;
        margin: 12px 0;
    }

    img {
        max-width: 100%;
    }

    .logo img {
        right: 20px;
        max-width: 113px !important;
    }

    .header {
        margin: 58px -31px 0;
    }

    .text {
        margin-bottom: 30px;
    }

    .address1 {
        margin: 48px 0 60px;
    }

    .address1 h2 {
        margin-bottom: 25px;
    }

    .address2 {
        margin: 0 0 60px;
    }

    .address2 h2 {
        margin-bottom: 25px;
    }

    .address1 .calendar {
        margin-top: 0;
        margin-left: 26px;
        margin-bottom: 30px;
        background-image: url('../img/invite/calendar.png');
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 33px 38px;
        padding-left: 46px;
        min-height: 33px;
        padding-top: 5px;
    }

    .address1 .time {
        margin-left: 26px;
        margin-bottom: 30px;
        background-image: url('../img/invite/time.png');
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 32px 32px;
        padding-left: 46px;
        min-height: 32px;
        padding-top: 1px;
    }

    .address2 .schedule {
        margin-left: 26px;
    }

    .address2 .schedule strong {
        display: block;
    }

    .address2 .schedule ol {
        margin: 0;
        margin-left: 26px;
        margin-top: 100px;
        padding: 0;
    }

    .address2 .schedule ol li {
        padding-bottom: 30px;
    }

    .video .title {
        text-align: center;
        font-size: 24px;
        line-height: 24px;

    }

    .video a.btn {
        margin: 60px auto 80px;
        display: block;
        width: 440px;
    }

    .social {
        font-size: 19px;
        text-align: center;
        margin-top: 60px;
    }

    .social a {
        display: inline-block;
        width: auto;
        background-repeat: no-repeat;
        background-position: top left;
        padding-left: 50px;
        line-height: 43px;
        min-height: 44px;
        margin: 0 35px;
    }

    .social a.fb {
        background-image: url('../img/invite/fb.png');
        background-size: 43px 44px;
    }

    .social a.youtube {
        background-image: url('../img/invite/youtube.png');
        background-size: 44px 44px;
    }

    .social a.vk {
        background-image: url('../img/invite/vk.png');
        background-size: 44px 44px;
    }

    .social a.instagram {
        background-image: url('../img/invite/instagram.png');
        background-size: 44px 44px;
    }

    .toyota {
        margin: 65px 0;
        text-align: center;
    }

    .toyota a {
        line-height: 50px;
        display: inline-block;
        background-color: #fff;
        background-image: url('../img/invite/toyota_site.png');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 50px 47px;
        min-height: 50px;
        padding-left: 60px;
        font-size: 18px;
    }

    .tags {
        text-align: center;
        color: #e11a2c;
        font-size: 22px;
        padding: 48px 0;
    }

    .footer {
        font-size: 14px;
        line-height: 22px;
        padding: 42px 0;
        text-align: center;
        letter-spacing: 1px;
    }


    .col {
        float: left;
        padding-right: 0;
        padding-left: 0;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-2 {
        width: 25%;
    }

    .col-md-3 {
        /*width: 25%;*/
        width: 32.75%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-9 {
        /*width: 75%;*/
        width: 67.25%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-11 {
        width: 91.666666667%;
    }

    .col-md-12 {
        width: 100%;
    }
}