body.modal-open {
    overflow: hidden;
}

.content ul.tabs {
    display: block;
    list-style: none;
    margin: 10px -20px 50px;
    padding: 0;
    height: 40px;
    text-align: center;
}

.content ul.tabs li {
    float: left;
    width: 33.33333333%;
    height: 40px;
    border: 1px solid #999;
    border-left: 0;
    padding: 10px 0 0;
    cursor: pointer;
}

.content ul.tabs li:last-child {
    border-right: 0;
}

.content ul.tabs li:hover {
    cursor: pointer;
}

.content ul.tabs li.active {
    border-color: #cf142b;
    background-color: #cf142b;
    color: #fff;
}

.content ul.tabs li:before {
    content: '';
}

.tab-text-container > div {
    display: none;
}

.tab-text-container > div.active {
    display: block;
}

.form-search {
    text-align: right;
}

.form-search input{
    width: 100%;
    height: 40px;
    display: block;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #999;
    outline: none;
    padding: 0 17px;
}

.form-search button {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #999;
    outline: none;
    background-image: url('../img/btn-search.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.picture-category-help {
    text-align: center;
    margin-top: 70px;
}

.picture-help {
    text-align: center;
    margin: 25px 0 45px;
    color: #cf142b;
}

.picture-search-result {
    text-align: center;
    margin: 45px 0 45px;
    color: #cf142b;
}

.content ul.pictures {
    list-style: none;
}

.content ul.pictures li {
    padding-left: 0;
    position: static;
    width: 280px;
}

.content ul.pictures li:before {
    content: '';
}

.pictures-container {
    /*margin-bottom: 40px;*/
}

.picture {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 30px;
}

.picture .img{
    /*width: 280px;*/
    margin: 0 auto;
}

.picture .img img {
    max-width: 100% !important;
    min-height: 100px;
    min-width: 100px;
    border: 1px solid #999;
}

.picture .nomination {
    margin-top: 15px;
    font-weight: bold;
    color: #cf142b;
}

.picture .person {
    margin-top: 15px;
    color: #cf142b;
}

.picture .place {
    color: #54565b;
}

.picture .idea {
    margin-top: 30px;
    color: #54565b;
    text-align: center;
}

.picture .idea .red {
    display: block;
    text-align: center;
}

.picture-vote {
    margin: 15px auto;
    font-size: 15px;
    line-height: 15px;
    height: 30px;
    width: 200px;
    text-align: center;

}

.picture-vote .likes {
    /*float: left;*/
    border: 1px solid #999;
    height: 27px;
    background-image: url('../img/likes_bg.png');
    background-repeat: no-repeat;
    background-position: top left;
    border-radius: 3px;
    padding-top: 6px;
    padding-left: 30px;
    padding-right: 10px;
    display: inline-block;
}

.picture-vote a {
    float: right;
    text-align: center;
    background-color: transparent;
    background-image: url('../img/btn_vote.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120px 27px;
    width: 120px;
    height: 27px;
    border: 0;
    outline: none;
}

.picture-vote a.inactive {
    text-align: center;
    background-image: url('../img/btn_vote_result.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 134px 27px;
    width: 134px;
    height: 27px;
}

/*.picture-vote:hover {*/
    /*cursor: pointer;*/
/*}*/

.slick-slider {
    margin-bottom: 10px;
}

.slick-list {
    outline: none !important;
}

.slick-slide {
    outline: none !important;
}

.picture-counter {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
}

.slick-prev, .slick-next {
    display: none;
}

.red-line {
    margin-left: -20px;
    margin-right: -20px;
    font-size: 20px;
    line-height: 24px;
    height: 180px;
    background: url('../img/red-line-xs.png') center center no-repeat;
    color: #fff;
    text-align: center;
}

.red-line > div {
    width: 280px;
    margin: 0 auto;
    padding: 0;
    padding-top: 35px;
    letter-spacing: 1px;
}

.social {
    margin-top: 40px;
}

.modal {
    display: none;
}

.slick-slide img.display-xs {
    display: block;
}

.slick-slide img.display-md {
    display: none;
}

.content .archive-text {
    margin-top: 75px;
    text-align: center;
}

.content a.btn-archive {
    border-radius: 5px;
    border: 0;
    border-top: 1px solid #dd5b6b;
    border-bottom: 2px solid #7d0011;
    background-color: #ba1227;
    margin: 40px auto 0;
    max-width: 256px;
    font-size: 15px;
    line-height: 20px;
    padding: 5px;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #cf142b; /* Old browsers */
    background: -moz-linear-gradient(top,  #cf142b 0%, #a61023 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cf142b 0%,#a61023 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cf142b 0%,#a61023 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf142b', endColorstr='#a61023',GradientType=0 ); /* IE6-9 */

}

.remark {
    margin-top: 15px;
    font-size: 13px;
    font-style: italic;
    text-align: center;
}

.modal {
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 50;
}

.modal-dialog-auth {
    position: absolute;
    width: 100%;
    top: 0;
    margin-bottom: 50px;
    padding: 0;
    background-color: #fff;
}

#modal-closed {
    z-index: 8;
}

.modal-dialog-close {
    position: absolute;
    width: 280px;
    top: 50%;
    left: 50%;
    margin-top: -63px;
    margin-left: -140px;
    padding: 0;
    background-color: transparent;
}

.modal-dialog-close img {
    max-width: 100% !important;
}

.modal-close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../img/close.png');
    background-position: center center;
    background-size: 48px 48px;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    z-index: 60;
}

#modal-closed .modal-close {
    top: -30px;
    right: -10px;
}

.modal-content {
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.modal-content h4 {
    text-align: center;
}

.modal-content .social-title {
    text-align: center;
}

.modal-content .social-selector {
    text-align: center;
    margin: 15px 0 30px;
}

.modal-content .social-selector a {
    display: inline-block;
    margin: 0 19px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 42px;
    height: 42px;
}

.modal-content .social-selector a.vk {
    background-image: url('../img/modal_vk.png');
}

.modal-content .social-selector a.fb {
    background-image: url('../img/modal_fb.png');
}

.modal-content input[type=text],
.modal-content input[type=password],
.modal-content input[type=number] {
    width: 100%;
    display: block;
    height: 40px;
    border: 1px solid #999;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    line-height: 17px;
}

.modal-content input[name=auto_brand], .modal-content input[name=auto_model] {
    display: none;
}

.form-controls {
    line-height: 40px;
    min-height: 40px;
}

.form-controls button {
    display: inline-block;
    float: right;
    border: 1px solid #999;
    background-color: #fff;
    height: 40px;
    line-height: 17px;
    padding-left: 23px;
    padding-right: 23px;
    outline: none;
}

.form-checkbox {
    min-height: 28px;
    line-height: 28px;
    margin-bottom: 20px;
}

.form-checkbox input[type=checkbox] {
    width: auto;
    display:none;
}

.form-checkbox input[type=checkbox] + label {
    display:inline-block;
    cursor:pointer;
    text-align: left;
    padding-left: 42px;
    min-width: 150px;
    position: relative;
    height: 28px;
}

.form-checkbox input[type=checkbox] + label:before {
    display:block;
    content:" ";
    height:28px;
    width:28px;
    top: 0;
    left: 0;
    position: absolute;
    margin-right:5px;
    background-image:url('../img/checkbox_inactive.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.form-checkbox input[type=checkbox]:checked + label:before {
    background-image:url('../img/checkbox_active.png');
}

.modal-content a {
    color: #cf142b;
    text-decoration: underline;
}

.modal-content a:hover, .modal-content a:active {
    text-decoration: none;
}

.nologin-controls a {
    display: inline-block;
    margin: 0 20px 20px;
}

.message.message-error {
    display: none;
    color: #cf142b;
    padding: 0 0 30px;
}

#personal-information {
    display: none;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 5px 0 20px;
    padding: 3px;
    border: 1px solid #999;
}

a.dynamic {
    font-size: 14px;
    line-height: 20px !important;
}

.account-control {
    color: #7b7f87;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}

.account-control > span {
    display: block;
    margin-bottom: 15px;
}

a.btn-user {
    background-color: #b0b5c2;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    border: 0;
    padding: 7px 25px 7px;
    font-size: 15px;
    line-height: 17px;
    margin-left: 15px;
}

span.icon-user {
    position: relative;
    top: 3px;
    margin-right: 7px;
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url('../img/icon_user.png');
    background-position: center center;
    background-repeat: no-repeat;
}

span.icon-logout {
    position: relative;
    top: 3px;
    margin-right: 7px;
    display: inline-block;
    width: 20px;
    height: 17px;
    background-image: url('../img/icon_logout.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.share {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.share a {
    display: inline-block;
    margin: 0 40px 20px;
    cursor: pointer;
}

@media (min-width: 480px) {
    .red-line > div {
        width: 300px;
        padding-top: 50px;
    }

    .modal-dialog-auth {
        width: 450px;
        left: 50%;
        margin-left: -225px;
        position: absolute;
        padding: 0;
        background-color: #fff;
    }

    .account-control {
        text-align: right;
    }

    .account-control > span {
        display: inline;
    }

}

@media (min-width: 600px) {
    .content ul.tabs {
        width: 460px;
        margin: 10px auto 50px;
    }

    .content ul.tabs li:last-child {
        border-right: 1px solid #999;
    }

    .content ul.tabs li:first-child {
        border-left: 1px solid #999;
    }

    .picture {
        display: block;
        text-align: center;
        /*float: left;*/
        width: 100%;
        overflow: hidden;
    }

    .red-line > div {
        width: 550px;
        padding-top: 70px;
    }

    .modal-dialog-close {
        background-color: transparent;
        width: 558px;
        height: 250px;
        top: 50%;
        left: 50%;
        margin-left: -279px;
        margin-top: -125px;
        position: absolute;
        padding: 0;
        display: block;
    }
}

a.btn-single-link {
    background-color: #cf142b;
    width: 280px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    display: block;
    margin: 0 auto;
    padding: 10px 10px;
    font-family: "ToyotaDisplay", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.modal-picture-page img {
    max-width: 100% !important;
    display: block;
    width: auto;
    margin: 0 auto;
    height: auto;
}

.modal-picture {
    padding: 0 0;
}

.modal-picture .picture-vote {
    float: right;
    text-align: right;
}

.modal-picture .picture-vote likes {

}

.modal-picture .title {
    margin-top: 20px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #d0112b;
    /*text-align: center;*/
}

.modal-picture .person {
    font-size: 15px;
    line-height: 20px;
    color: #999;
    margin-top: 3px;
}

.modal-picture .idea {
    font-size: 18px;
    line-height: 23px;
    color: #54565b;
    margin-top: 30px;
}

.modal-picture .idea .red {
    display: block;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 10px;
}

.pictures {
    text-align: center;
}

@media (min-width: 900px) {
    /*.content {*/
        /*-moz-box-shadow: 0px 3px 40px rgb(100,100,100);*/
        /*-webkit-box-shadow: 0px 3px 40px rgb(100,100,100);*/
        /*box-shadow: 0px 3px 40px rgb(100,100,100);*/
    /*}*/

    .picture-gallery-title {
        padding-right: 60px;
    }

    .content ul.tabs {
        margin-left: 117px;
    }

    .form-search {
        width: 620px;
        margin: 0 auto;
        text-align: center;
        height: 40px;
    }

    .form-search input {
        float: left;
        width: 260px;
        margin-right: 30px;
        margin-bottom: 0;
    }

    .form-search button {
        float: left;
    }

    .picture-category-help {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .picture-category-help span {
        padding-right: 65px;
    }

    .picture-help {
        display: none;
    }

    .pictures-container {
        margin-top: 45px;
    }

    .picture .img {
        width: 200px;
    }

    .picture .img img {
        max-width: 100% !important;
        min-height: inherit;
        min-width: inherit;
        border: 0;
    }

    .picture .idea, .picture .place {
        display: none;
    }

    .picture .nomination {
        /*display: none;*/
    }

    .picture-vote {
        /*margin-left: 80px;*/
    }

    .picture {
        display: block;
        float: left;
        width: 33.33333333%;
        padding-top: 20px;
        padding-bottom: 0;
        height: 400px;
        overflow: hidden;
    }

    .picture-counter {
        font-size: 18px;
        line-height: 18px;
        display: none;
    }

    .red-line {
        margin-left: 0;
        margin-right: 0;
        font-size: 24px;
        line-height: 30px;
    }

    .red-line > div {
        width: 600px;
        padding-top: 60px;
    }

    .social {
        margin-top: 25px;
    }

    .pictures-container {
        margin-left: -70px;
        width: 900px;
        /*height: 800px;*/
        height: auto;
        background-color: #fff;
        padding: 20px 0;
        border-radius: 16px;
        box-shadow: 0 0 10px rgba(0,0,0, 0.4);
    }

    .pictures {
        margin: 0 30px;
        text-align: center;
    }

    .picture {
        padding-top: 0;
        height: 370px;
        padding-bottom: 0;
    }

    .slick-prev, .slick-next {
        display: block;
        width: 52px;
        height: 49px;
    }

    .slick-prev {
        left: -30px;
    }

    .slick-prev:before{
        content: "";
        font-size: 0;
    }

    .slick-next {
        right: -30px;
    }

    .slick-next:before{
        content: "";
        font-size: 0;
    }

    .mainmenu {
        position: fixed;
        z-index: 9;
    }

    /* popup */
    .pop-up_wrap {
        padding: 20px 0;
        border-radius: 16px;
        box-shadow: 0 0 10px rgba(0,0,0, 0.4);
        max-width: 900px;
        margin: 100px auto;
    }
    .pop-up {
        padding: 30px 30px 15px;
        position: relative;
        background: #fff;
        background: url('../img/border-l.png') repeat-y left top, url('../img/border-r.png') repeat-y right top;
    }
    .bdr-b:before, .bdr-b:after, .bdr-t:before, .bdr-t:after {
        position: absolute;
        display: block;
        content: '';
        background: #000;
        height: 36px;
        width: 36px;
    }
    .bdr-t:before {
        left: -20px;
        background: url('../img/lt.png') no-repeat;
    }
    .bdr-t:after {
        right: -20px;
        background: url('../img/rt.png') no-repeat;
    }
    /*.pop-up:after {*/
        /*height: 44px;*/
        /*bottom: -20px;*/
        /*background: url(border-bottom.png) no-repeat;*/
    /*}*/
    .bdr-t {
        height: 36px;
        top: -20px;
        left: 20px;
        right: 20px;
        position: absolute;
        background: url('../img/bt.png') repeat-x;
        z-index: 6;
    }
    .bdr-b {
        height: 36px;
        bottom: -20px;
        left: 20px;
        right: 20px;
        position: absolute;
        background: url('../img/bb.png') repeat-x bottom center;
        z-index: 6;
    }
    .bdr-b:after {
        right: -20px;
        bottom: 2px;
        background: url('../img/rb.png') no-repeat;
    }
    .bdr-b:before {
        left: -20px;
        bottom: 2px;
        background: url('../img/lb.png') no-repeat;
    }



    .modal {
        display: none;
        position: fixed;
        overflow: scroll;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0, 0.5);
        z-index: 50;
    }

    .modal-dialog {
        width: 900px;
        left: 50%;
        top: 50px;
        margin-left: -450px;
        position: absolute;
        margin-bottom: 50px;
        padding: 0;
        background-color: #fff;
    }

    .modal-dialog-auth {
        width: 450px;
        margin-left: -225px;
    }

    .modal-dialog-close {
        background-color: transparent;
        width: 558px;
        height: 250px;
        top: 50%;
        left: 50%;
        margin-left: -279px;
        margin-top: -125px;
        position: absolute;
        padding: 0;
        display: block;
    }

    .modal-close {
        display: block;
        position: absolute;
        top: -50px;
        right: -50px;
        background-image: url('../img/close.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 64px;
        height: 64px;
        z-index: 60;
    }

    .popup-prev, .popup-next {
        position: absolute;
        display: block;
        width: 30px;
        height: 42px;
        background-position: top left;
        background-repeat: no-repeat;
    }

    .popup-prev {
        background-image: url('../img/popup_prev.png');
        left: -53px;
    }

    .popup-next {
        background-image: url('../img/popup_next.png');
        right: -53px;
    }

    .modal .share {
        margin-top: 0;
        margin-bottom: 40px;
        text-align: center;
    }

    .modal .share a {
        display: inline-block;
        margin: 0 40px;
        cursor: pointer;
    }

    .modal-picture {
        padding: 30px 55px;
        min-height: 300px;
        position: relative;
    }

    .modal-picture-page {
        margin-top: 50px;
        padding: 0 0;
    }

    .modal-picture img{
        display: block;
        width: auto;
        height: 571px;
        max-width: 800px !important;
        margin: 0 auto;
    }

    .modal-picture .nomination {
        margin-top: 50px;
        font-weight: 700;
        text-align: center;
    }

    .modal-picture .picture-vote {
        float: right;
    }

    .modal-picture .title {
        margin-top: 20px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: #d0112b;
        /*text-align: center;*/
    }

    .modal-picture .person {
        font-size: 18px;
        line-height: 23px;
        color: #999;
        margin-top: 3px;
        /*text-align: center;*/
    }

    .modal-picture .idea {
        font-size: 18px;
        line-height: 23px;
        color: #54565b;
        margin-top: 30px;
    }

    .modal-picture .idea .red {
        display: block;
        /*text-align: center;*/
        /*margin-left: 20px;*/
        font-size: 21px;
        line-height: 26px;
        /*text-decoration: underline;*/
        margin-bottom: 10px;
    }

    .modal-picture .place-container {
        position: relative;
        height: 86px;
    }

    .modal-picture .place {
        position: absolute;
        top: 30px;
        right: -55px;
        height: 46px;
        color: #fff;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        z-index: 100;

    }

    .modal-picture .place span {
        float: right;
        display: inline-block;
        padding: 13px 35px 0 20px;
        height: 46px;
        white-space: nowrap;
        background-color: #d0112b;
    }

    .modal-picture .place:before {
        content: ' ';
        display: inline-block;
        height: 0;
        width: 0;
        border: 0;
        border-top: 23px solid #d0112b;
        border-bottom: 23px solid #d0112b;
        border-left: 15px solid transparent;
    }

    .slick-slide img.display-xs {
        display: none;
    }

    .slick-slide img.display-md {
        display: block;
    }

    .content .btn-archive-container {
        text-align: center;
    }

    .content a.btn-archive {
        display: inline-block;
        margin: 40px 30px 0;
        line-height: 17px;
        min-width: 258px;
        padding: 10px 5px;
    }

    .account-control {
        margin-top: -15px;
        padding-right: 50px;
    }

    .modal-picture-page img {
        max-width: 100% !important;
        height: auto;
    }

    .share-mobile {
        display: none;
    }

}
