<div class="map">
    <div class="map-bg"></div>
    <div class="search-form">
        <select name="city" id="map-city" data-url="{{ path('contact_cities_data') }}">
            <option value="">Начните вводить название города</option>
            {% for city in cities %}
            <option value="{{ city.id }}">{{ city.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="map-link-helper">Нажмите на город на карте для просмотра контактной информации.</div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <a href="#" class="modal-close"></a>
            <div id="modal-dealers">
                <ul class="dealer clearfix">

                </ul>
            </div>
        </div>
    </div>
    <div class="map-canvas"></div>
    <div id="map-dot" class="map-dot"><div class="dot"></div><div class="title"><span></span></div></div>
</div>

<ul id="dealer" class="dealer clearfix" data-url="{{ path('contact_dealers_data') }}">
    <li>
        <div class="title">Тойота Центр Битца</div>
        <div class="info">
            ВРЕМЯ РАБОТЫ<br>
            8:30 - 21:00<br>
            <strong>Тел.</strong>: 8 (495) 721-33-88<br>
            <strong>Адрес</strong>: 117452, г. Москва, Балаклавский пр-т, д. 26<br>
            <strong>E-mail</strong>: <a href="mailto:reception@toyota-bitsa.ru">reception@toyota-bitsa.ru</a>
        </div>

        <a class="roadmap-link" href="">Схема проезда</a>

        <div class="service">
            Предоставляемые услуги:<br>
            - продажа новых а/м Toyota<br>
            - тюнинг<br>
            - слесарный ремонт<br>
            - trade-in<br>
            - аренда авто<br>
            - страхование<br>
            - кредит<br>
        </div>

        <a class="site-link" href="">Перейти на сайт дилерского центра</a>
    </li>
    <li>
        <div class="title">Тойота Центр Битца</div>
        <div class="info">
            ВРЕМЯ РАБОТЫ<br>
            8:30 - 21:00<br>
            <strong>Тел.</strong>: 8 (495) 721-33-88<br>
            <strong>Адрес</strong>: 117452, г. Москва, Балаклавский пр-т, д. 26<br>
            <strong>E-mail</strong>: <a href="mailto:reception@toyota-bitsa.ru">reception@toyota-bitsa.ru</a>
        </div>

        <a class="roadmap-link" href="">Схема проезда</a>

        <div class="service">
            Предоставляемые услуги:<br>
            - продажа новых а/м Toyota<br>
            - тюнинг<br>
            - слесарный ремонт<br>
            - trade-in<br>
            - аренда авто<br>
            - страхование<br>
            - кредит<br>
        </div>
        <a class="site-link" href="">Перейти на сайт дилерского центра</a>
    </li>
</ul>