{% if tabs|length > 1 %}
<ul class="tabs">
    {% for tab in tabs %}
    <li{% if 1 == tab.id %} class="active"{% endif %} data-id="{{ tab.id }}">{{ tab.name }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="tab-text-container">
    <div id="tab1" class="active">
        <h2 class="about">Кто может участвовать в конкурсе?</h2>
        <p>Любой ребенок, проживающий на&nbsp;территории России в&nbsp;возрасте до&nbsp;15 лет включительно. Справедливое жюри оценит работы участников в&nbsp;трех возрастных категориях:</p>
        <ul class="category">
            <li>1 категория&nbsp;&mdash; дети до&nbsp;7 лет включительно</li>
            <li>2 категория&nbsp;&mdash; дети от&nbsp;8 до&nbsp;11 лет</li>
            <li>3 категория&nbsp;&mdash; дети от&nbsp;12 до&nbsp;15 лет включительно</li>
        </ul>
        <h2>Что нужно сделать и как должна выглядеть работа?</h2>
        <p>Чтобы стать участником конкурса, ваш ребенок должен нарисовать и&nbsp;раскрасить свой автомобиль будущего. Пусть в&nbsp;нем воплотятся все самые смелые мечты и&nbsp;яркие фантазии вашего юного изобретателя!</p>

        <div class="clearfix">
            <img id="sizes-rules" src="/bundles/public/img/formats.png">
            {#<div class="sizes"></div>#}
            <p><strong>Проверьте, отвечает&nbsp;ли рисунок требованиям конкурса:</strong></p>
            <ul class="rules">
                <li>У&nbsp;автомобиля будущего есть подходящее название и&nbsp;описание его уникальных свойств и&nbsp;характеристик</li>
                <li>Размер бумаги соответствует формату А3 (предпочтительно) или А4</li>
            </ul>
            <img id="sizes-rules-xs" src="/bundles/public/img/formats.png">
        </div>

        <ul>
            <li class="margin-bottom">Убедитесь, что рисунок вашего ребенка (автомобиль и&nbsp;фон) яркий, красочный и&nbsp;разноцветный, а&nbsp;не&nbsp;<nobr>чёрно-белый</nobr></li>
        </ul>
        <div id="pictures-rules-xs" class="text-center">
            <img id="rules-picture1" src="/bundles/public/img/rules_picture_good.jpg">
            <img id="rules-picture2" src="/bundles/public/img/rules_picture_bad.jpg">
        </div>
        <div id="pictures-rules" class="text-center">
            <img id="rules-picture1" src="/bundles/public/img/rules_picture_good.jpg">
            <img id="rules-picture2" src="/bundles/public/img/rules_picture_bad.jpg">
        </div>
        <ul>
            <li>Мы&nbsp;в&nbsp;Toyota считаем, что самые интересные рисунки нарисованы от&nbsp;руки. Пожалуйста, не&nbsp;используйте компьютерную графику, коллажи или аппликации. Пусть ваш ребенок творит!</li>
        </ul>
        <div id="tools-rules-xs" class="text-center">
            <img id="rules-tools1" src="/bundles/public/img/rules_tools_good.png">
            <img id="rules-tools2" src="/bundles/public/img/rules_tools_bad.png">
        </div>
        <div id="tools-rules" class="text-center">
            <img id="rules-tools1" src="/bundles/public/img/rules_tools_good.png">
            <img id="rules-tools2" src="/bundles/public/img/rules_tools_bad.png">
        </div>
        <p>Рисунок готов? Теперь скачайте <a href="/bundles/public/files/anketa2015.pdf">анкету</a> и&nbsp;расскажите, почему этот автомобиль лучший и&nbsp;как он&nbsp;работает. Дорогие родители и&nbsp;опекуны, обязательно подпишите анкету вашего ребенка!<br>Как правильно заполнить анкету, можете посмотреть <a href="/bundles/public/files/example.pdf">здесь</a>.</p>
        <p>Ознакомится с&nbsp;полными правилами участия можно <a href="/bundles/public/files/rules2015.pdf">здесь</a>.</p>
        <h2>Как отправить работу на конкурс?</h2>
        <p>Работы и&nbsp;заполненные анкеты можно подать на&nbsp;конкурс в&nbsp;одном из&nbsp;дилерских центров Toyota вашего города&nbsp;&mdash; найдите самый удобный для вас <a href="/contacts">здесь</a>.</p>

        <div class="clearfix">
            <img id="envelope-rules" src="/bundles/public/img/envelope_rules.png">
            <p>Если в вашем городе нет пункта приёма работ, отправьте вашу заявку почтой по адресу: 105062, г. Москва, ул. Макаренко д.21/2 стр.2, офис компании Avantgarde, с пометкой – Toyota, конкурс детского рисунка «Автомобиль мечты».</p>
            <p>Работы принимаются  в период с 1 декабря 2015 г. по 7 февраля 2016 г.</p>
            <p><strong>Если отправляете нам работы по почте, сделайте это заранее, чтобы успеть к указанному сроку. </strong></p>
        </div>

        <div class="clearfix">
            <img id="girl-rules" class="pull-right" src="/bundles/public/img/boy-with-pencil-2.png">
            <h2>Что делать, если нет идей?</h2>
            <img id="girl-rules-xs" src="/bundles/public/img/boy-with-pencil-2.png">
            <p>Задайте вашему ребенку вопросы. Как выглядит автомобиль его мечты? Как он&nbsp;работает? Как он&nbsp;может сделать мир лучше, чище и&nbsp;ярче для будущих поколений? Это те&nbsp;вопросы, которые задают себе дизайнеры Toyota, создавая новые автомобили.</p>
            <p>Посмотрите, что сделали конкурсанты прошлого года. Их&nbsp;работы размещены в&nbsp;разделе <a href="/pictures">Галерея</a>. Может быть, там ваш юный художник найдет вдохновение. Удачи!</p>
        </div>
    </div>
    <div id="tab2">test2</div>
    <div id="tab3">test3</div>
</div>

{#<div class="tab-text-container">#}
    {#{% for tab in tabs %}#}
    {#<div id="tab{{ tab.id }}"{% if 1 == tab.id %} class="active"{% endif %}>#}
        {#{{ tab.content }}#}
    {#</div>#}
    {#{% endfor %}#}
{#</div>#}